
body{margin: 0px;
}
/* Header */
.logo{
  width:auto;
  margin-left: 10px;
  margin-top: 28px;
  float:left;
  position: relative;
}
.grad {
background-image: linear-gradient(rgb(26, 28, 31), rgba(25, 34, 65, 0.973), rgba(32, 58, 104, 0.959));
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgb(0, 0, 0);
width: 100%;
height: auto;
position: fixed;


}
  .grad div h1{
  float:left;
  margin-top:30px;
  margin-left: 30px;
  text-decoration: none;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .grad nav {
  background-color:none;
  list-style-type:none;
  display: inline-block;
  position:relative;
  margin: 10px;
  padding: 15px;
  width: 30%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  }
  .grad nav li a {
  display:inline-block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  }
   .grad nav li a.active {
  background-color: #4CAF50;
  color: white;
  }
  .grad nav #lis a:hover:not(.active) {
  background-color: rgba(3, 224, 51, 0.719);
  color: rgb(17, 8, 8);
  }
  .grad nav #lis2  a:hover:not(.active) {
  background-color: rgba(224, 209, 3, 0.801);
  color: rgb(17, 8, 8);
  }
  .grad nav #lis3  a:hover:not(.active) {
    background-color: rgba(3, 172, 224, 0.719);
    color: rgb(17, 8, 8);
  }
  .grad nav #lis4  a:hover:not(.active) {
  background-color: rgba(233, 200, 13, 0.719);
  color: rgb(17, 8, 8);
  }
  .grad nav li a {
    float:right;
    padding: 15px;
  }
  /* Main */
/* .wrapper {
    width: auto;
    margin: auto;
    overflow:hidden;
    
  } */
.contenido-home{
 width:auto;
 height: auto;
 padding: 5px 0 150px;
 }

  .contenido-home img{
    width: auto;
    height: auto;
    padding: 133.03px 0 15px;
    
  }
 
 



/* footer */

.grad2{
  background-image: linear-gradient(rgba(48, 81, 139, 0.959), rgba(37, 44, 70, 0.973), rgb(32, 37, 46));
  box-shadow: 0 -6px 12px 0 rgb(0, 0, 0), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  height: auto;
  padding-bottom: 0.30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  bottom: 0px;
  position: relative;
  position: fixed;
  
}
.grad2 img{
  width: auto;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 30px; 
}

 



  
